/**
 * Tom Nelson Homework Assgnmt #1
 **/
 * {font-family: arial;
 text-align: center
}

body {width: 960px; 
      height: 800px;
}

header { 
  background: white;
  color: gray;
   position: absolute; top: 0px; left: 0px;
    text-align: center;
    border-bottom: 2px solid gray;
    padding-top: 30px;
    height: 60px;
    width: 100%;
   z-index: 999999;
}

a:visited {color: gray; 
font-weight: bold}

#linkBox1 {
 position: absolute; top: 40px; left: 810px;
 color: gray; 
 font-family: arial;
 font-weight: bold; 
}

#linkBox2 {
  position: absolute; top: 40px; left: 885px;
 float: left;
 margin-right: 30px;
 color: gray; 
 font-family: arial;
 font-weight: bold
}

#linkBox3 {
  position: absolute; top: 40px; left: 978px;
 font-weight: bold;
 float: left;
 color: gray; 
 font-family: arial
}

#myName {position: fixed; left: 80px; top: 0px;
  text-align: center; 
  width: 20%;
  color: white;
  background: #29b9ae;
  z-index: 5;
  height: 68px;
  padding: 10px;
  border: 1px solid gray;
}

.box { 
   position: absolute; top: 170px; left: 80px;
  width: 650px;
  height: 300px;
  color: gray;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  border: 1px solid gray;
  }

#aboutMe { 
  width: 100%;
  color: #29b9ae;
  background: white;
  text-align: left;
border-bottom:1px gray solid
}

.headshot {float: left; 
  margin-right: 15px;
  margin-top: 15px;

}

.abouttext {
  background: white; 
  color: gray; 
  font-style: arial;
 }

#connect {
  position: relative; top: 165px; left: 800px;
border: 1px solid grey; 
width: 270px;
height: 180px;
  background: white; 
  font-weight: bold;
  color: #29b9ae;
z-index: 6}

#connhead { 
  height: 30px; 
  width: 250px;
  padding: 10px; 
  color: white;
  background: #29b9ae; 
  font: bold; 
  z-index: 8
   border-bottom: 1px solid gray;}

#conntext {;
  position: relative; top: -15px;}


#github {position: relative; top: 15px; left: -95px;
  z-index: 8; 
  margin-left: 10px;
}

#linkedin { position: relative;top: -61px; left: -2px;
 }

  #stackover {  
    position: relative;top: -140px; left: 85px;
margin: 5px
z-index: 8 
 }

  footer {
     position: fixed; bottom: 0px; left: 0px;
    text-align: center;
    border-top: 10px solid #29b9ae;
    padding: 20px 0px 20px 0;
    height: 35px;
    width: 100%;
   color: white; 
   background: gray
 }

.portfolioBox {
  position: absolute; top: 150px; left: 80px; 
  width: 650px;
  height: 433px;
  align-items: center;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 50px;
}

.portfolio {position: relative; top: 0px;
  font-family: arial, helvetica, sans-serif; 
  padding-bottom: 10px;
  margin: 10px;
  border-bottom: 2px solid gray;
  color: #29b9ae;
  text-align: left
}

#portfont {position: relative; top: -74px; 
  padding: 10px;
  max-width: 190px;
  background: #29b9ae;
  color: white;}

.chrysler {float: left;
padding: 12px; position: relative; top: 0px;
}

.flatiron {float: left;
padding: 12px; position: relative; top: 0px;
}

.bkbridge {  float: left;
padding: 12px;
position: relative; top: 0px;
}

.cakeshop { float: left;
padding: 12px; 
position: relative; top: -95px;
}

.docholl { float: left;
padding: 12px; 
position: relative; top: -95px;
}


.formBox {
  position: absolute; top: 150px; left: 80px; 
  width: 650px;
  height: 445px;
  align-items: center;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: left; 
  border: 1px solid #a1a6b0;
}

.contact {
  color: #29b9ae;
  font-family: arial;
  margin: 20px;
  padding-bottom: 20px; 
        border-bottom: 2px solid #a1a6b0; 
  text-align: left
}

.name { color: #a1a6b0; 
  font-size: 10px; 
  margin-bottom: 10px;

}

label { color: #a1a6b0;
  text-height: 8px;

}

.email { color: #a1a6b0

}

.message { text-height: 10px;
  color: #a1a6b0
}

form { text-align: left;
        margin-left: 15px;
        margin-right: 15px;
   }

textarea {
  width: 600px; 
  height: 150px;
  text-align: left;
  border: 1px solid #a1a6b0;
  padding-bottom: 0px;
  margin-bottom: 0px;
          }

.button {
  position: relative: top: -20px;
  background: #29b9ae;
  color: white;
  font-weight: bold;
  padding: 10px 14px 10px 14px;
  margin-top: -40px;
  margin-left: -3px;
  margin-bottom: 10px;
}

/** #a1a6b0 #666666/**

